.button {
   justify-content: space-between;
   display: flex;
   margin-bottom: 5px;
   background: #142e3f;
   border: none;
   border-radius: 8px;
   width: 100%;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: #fff;
   padding: 10px 24px 10px 14px;
   cursor: pointer;
}

.country {
   font-weight: 600;
}

.amount {
   color: #fff;
}
