.container {
	padding: 0 10px;
}

.date {
	padding: 10px 5px;
	display: flex;
    background: #01b3b3;
    border-radius: 0 0 7px 7px;
    margin-bottom: 2px;
	 color: #fff;
	 font-weight: bold;
}

.tournament {
	background: #142e3f;
	border-radius: 7px 7px 0 0;
	display: flex;
	padding: 17px 18px;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
}

.event {
	padding: 10px 5px;
	display: flex;
    align-items: center;
    height: 52px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 15px;
    color: #193b52;
}